@charset "UTF-8";

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
body {
    overflow-x: hidden;
    color: rgb(29,29, 31);
    background: white;
}
a {
    color: rgb(29,29,31);
    text-decoration: none;
}
p {
    line-height: 1.6;
}
.global-nav {
    height: 44px;
}
.local-nav {
    height: 52px;
    border-bottom: 1px solid #cecece;
    padding: 0 1rem;
}
.global-nav-links,
.local-nav-links {
    display: flex;
    max-width: 1000px;
    height: 100%;
    align-items: center;
    margin: 0 auto;
}
.global-nav-links {
    justify-content: space-between;
}
/** [ css 정리 노트 1 ] em 정리
*    기본 브라우저 1em = 16px
*    12(원하는 크기 px) / 16(기준 크기 px) = 0.75em
*    % 변환시 * 100 = 75 %
*    em -> 부모기준
*    rem -> html 기준
*/

/** [ css 정리 노트 2 ] 우선순위 ,not
*   a < product-name 우선순위
*   not(선택자) 선택자 만 제외 css
*/
.local-nav-links .product-name {
    margin-right: auto;
    font-size: 1.4em;
    font-weight: bold;
}
/* */
.local-nav-links a {
    font-size: 0.8rem;
}
.local-nav-links a:not(.product-name) {
    margin-left: 2em;
}
.scroll-section {
    padding-top: 50vh;
}
#scroll-section-0 h1 {
    font-size: 4rem;
    text-align: center;
}
.main-message {
    display: flex;
    margin: 5px 0;
    align-items: center;
    justify-content: center;
    height: 3em; /* 현재 내 폰트사이즈 3배 */
    font-size: 2.5rem;
    background: rgba(0,0,0,0.3);
}
.main-message p {
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
}
.main-message small {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1rem;

}
#scroll-section-2 .main-message{
    font-size: 3.5rem;
}
.description {
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.2em;
    color: #888;
}
.description strong {
    font-size: 3rem;
    float: left;
    margin-right: 0.2em; /* 현재 내 폰트사이즈에 0.2 배 */
    color: rgb(29,29,31);
}
.desc-message {
    font-weight: bold;
    width: 50%;
}
.pin {
    width: 1px;
    height: 100px;
    background: #888888;
}
.mid-message {
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
}
.mid-message strong {
    color: rgb(29,29,31);
}
.canvas-caption {
    padding: 0 1.2rem;
    font-size: 1.2rem;
    color:#888888;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem; /*폰트 7배*/
    background-color: #cecece;
}

@media (min-width: 1024px) {
    #scroll-section-0 h1 {
        font-size: 6vw;
    }
    .main-message {
        font-size: 4vw;
    }
    .description{
        max-width: 1000px;
        margin: 0 auto;
        font-size: 2rem;
    }
    .description strong {
        font-size: 6rem;
    }
    #scroll-section-2 .main-message {
        font-size: 6vw;
    }
    .main-message small {
        font-size: 1.5vw;
    }
    .desc-message {
        width: 20%;
    }
    .mid-message {
        font-size: 4vw; /* 창크기의 4% */
    }
    .canvas-caption {
        font-size: 2rem; /* 28px */
    }
}